
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

img {
  display: block; 
  width: 200px;
  height: 200px;
  object-fit: cover;
  max-width: 100%;
}

.screen-section { 
  width: 100%;
  min-height: 100vh;
  display: flex; 
  align-items: center;     
}