*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   /* font-size: 62.5%; */
   scrollbar-width: none;
   -ms-overflow-style: none;
}

html:-webkit-scrollbar {
   display: none;
   width: 0;
   height: 0;
}

body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
   display: none;
}

img {
   display: block;
   /* width: 200px;
   height: 200px; */
   object-fit: cover;
   max-width: 100%;
   image-rendering: optimizeQuality;
}

.screen-section {
   width: 100%;
   min-height: 100vh;
   display: flex;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container {
   width: 120rem;
   padding: 0 3.2rem;
   margin: 0 auto;
}

.grid {
   display: grid;
   gap: 5rem;
}

.grid--2-cols {
   grid-template-columns: repeat(2, 1fr);
}

.grid--5-cols {
   grid-template-columns: repeat(5, 1fr);
}
/**************************/
/* NAVBAR */
/**************************/

#navbar {
   display: flex;
   width: 100%;
   height: 6.25rem;
   background-color: #000000;
   opacity: 80%;
   backdrop-filter: blur(30px);
   color: #ebe6ce;
   align-items: center;
   justify-content: start;
   gap: 125px;
   position: fixed;
   z-index: 999;
}
#logo {
   width: 100%;
   height: 50px;
   transition: 0.3s ease;
}
#logo:hover {
   transform: scale(105%);
}

.navbar-image {
   transition: 0.3s ease;
}
.navbar-image:hover {
   transform: scale(110%);
}
.navbar-logo-title {
   display: flex;
   gap: 30px;
   margin-left: 75px;
   margin-right: 230px;
}
#logo-title {
   font-size: 2.81rem;
   letter-spacing: 10%;
   line-height: auto;
   font-family: "Playfair";
}

.navbar-links {
   display: flex;
   gap: 125px;
   margin-right: 130px;
   align-items: center;
}
.navbar-text {
   position: relative;
   text-decoration: none;
   color: inherit;
   font-family: "Montserrat";
   font-size: 1.8rem;
   letter-spacing: 10%;
}

.navbar-text::after {
   content: "";
   position: absolute;
   bottom: -7px;
   width: 100%;
   left: 0;
   height: 2px;
   background-color: #ebe6ce;
   transform: scaleX(0);
   transform-origin: left;
   transition: 0.3s ease;
}
.navbar-text:hover::after {
   transform: scaleX(1);
}

.navbar-profile {
   display: flex;
}
/**************************/
/* FIRST PAGE SECTION */
/**************************/
#FirstPage {
   background-image: url(images/fp_bg_2.png);
   text-align: left;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
}
#first-page-hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 13vw;
   justify-content: start;
   margin-top: 23vh;
   gap: 4.2rem;
}

#first-page-h1 {
   font-family: "Montserrat";
   font-size: 6.25rem;
   color: #ebe6ce;
   font-weight: 300;
   letter-spacing: -0.025em;
   line-height: auto;
}
#first-page-h1 span {
   font-weight: 500;
}

#first-page-btn {
   background-color: #ebe6ce;
   opacity: 85%;
   color: #000000;
   font-family: "Montserrat";
   font-size: 40px;
   letter-spacing: 2%;
   line-height: 40px;
   font-weight: 500;
   padding: 10px 20px;
   border-radius: 50px;
   margin-right: 130px;
   padding-bottom: 12px;
   cursor: pointer;
   box-shadow: inset 0 0 0 3px transparent;
   transition: all 0.3s ease;
}
#first-page-btn span {
   font-size: 64px;
   text-shadow: 0px 0px 7px #000000;
   line-height: 10px;
   position: relative;
   top: -7px;
   border: 3px solid transparent;
}
#firt-page-btn span:hover {
   text-shadow: 0px 0px 7px #ebe6ce;
}

#first-page-btn:hover {
   background-color: #000000;
   opacity: 85%;
   box-shadow: inset 0 0 0 3px #ebe6ce;
   color: #ebe6ce;
   transform: scale(103%);
}

.trusted-clients {
   /* margin-top: 4.8rem; */
   display: flex;
   gap: 1.2rem;
   align-self: flex-start;
   justify-self: center;
}

.trusted-imgs {
   display: flex;
   align-self: center;
}

.trusted-imgs .trusted-img {
   height: 42px;
   width: 42px;
   border-radius: 50%;
   margin-right: -0.6rem;
   border: 2px solid #ebe6ce;
}

.trusted-img:last-child {
   margin-right: 0;
}

.trusted-text {
   font-size: 1.2rem;
   color: #ebe6ce;
   align-self: center;
}
/**************************/
/* SECTION WHY*/
/**************************/
.section-why {
   padding: 9.6rem 0;
}

.why-image {
   width: 50%;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

#TestimonialPage {
   content-visibility: auto;
   contain-intrinsic-size: 100vh;
}
.section-testimonials {
   padding: 9.6rem 0;
   background-color: antiquewhite;
   display: grid;
   grid-template-columns: 60fr 40fr;
   align-items: center;
}

.testimonials-container {
   padding: 9.6rem;
}

.testimonials {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 4.8rem;
   column-gap: 8rem;
}

.testimonial-img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.testimonial-text {
   /* font-size: 1.8rem; */
   line-height: 1.8;
   margin-bottom: 1.6rem;
}

.testimonial-author {
   font-size: 1.6rem;
}

.testimonials-gallery {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.6rem;
   padding: 1.6rem;
}

.testimonials-gallery-item {
   overflow: hidden;
}

.testimonials-gallery img {
   display: block;
   width: 100%;
   transition: all 0.4s;
}

.testimonials-gallery img:hover {
   transform: scale(1.1);
}

/**************************/
/*        FOOTER          */
/**************************/
.footer {
}
