*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding-top: 80px;
    background-color: #8a5428;
}

/* Ustawienie kontenera, aby elementy były pod sobą */
#cars-container {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    max-width: 600px; 
    margin: 20px auto; 
}

/* Styl pojedynczego samochodu */
.car-card {
    background-color: #1b1d1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.car-card h2 {
    margin-top: 0;
    color: #c8c3bc;
}

.car-card p {
    margin-top: 0;
    color: #c8c3bc; 
}