*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   scrollbar-width: none;
   -ms-overflow-style: none;
}

html:-webkit-scrollbar {
   display: none;
   width: 0;
   height: 0;
}

body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
   display: none;
}

img {
   display: block;
   /* width: 20rem;
   height: 20rem; */
   object-fit: cover;
   max-width: 100%;
   image-rendering: optimizeQuality;
}

.screen-section {
   width: 100%;
   min-height: 100vh;
   display: flex;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container {
   width: 120rem;
   padding: 0 3.2rem;
   margin: 0 auto;
}

.grid {
   display: grid;
   gap: 5rem;
}

.grid--2-cols {
   grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
   grid-template-columns: repeat(3, 1fr);
}

.grid--5-cols {
   grid-template-columns: repeat(5, 1fr);
}

.btn--form {
   grid-column: 1/-1;
   align-self: center;
   padding: 1.2rem 4.2rem;
   border-radius: 4px;
   font-size: 1.8rem;
   font-weight: 600;
   justify-self: center;
   border: none;
   cursor: pointer;
   background-color: #47453e;
   color: #ebe6ce;
   transition: all 0.5s;
}

.btn--form:hover {
   background-color: #ebe6ce;
   color: #47453e;
}

/**************************/
/* NAVBAR */
/**************************/

#navbar {
   display: flex;
   width: 100%;
   height: 6.25rem;
   background-color: #000000;
   opacity: 80%;
   backdrop-filter: blur(3rem);
   color: #ebe6ce;
   align-items: center;
   justify-content: start;
   gap: 12.5rem;
   position: fixed;
   z-index: 999;
}

#logo-title{
   text-decoration: none;
   color: inherit;
}
#logo {
   height: 5rem;
   transition: 0.3s ease;
}

#logo:hover {
   transform: scale(105%);
}

.navbar-image {
   transition: 0.3s ease;
}

.navbar-image:hover {
   transform: scale(110%);
}

.navbar-logo-title {
   display: flex;
   gap: 3rem;
   align-items: center;
   margin-left: 7.5rem;
   margin-right: 23rem;
}

#logo-title {
   font-size: 2.81rem;
   letter-spacing: 10%;
   line-height: auto;
   font-family: "Playfair";
}

.navbar-links {
   display: flex;
   gap: 12.5rem;
   margin-right: 13rem;
   align-items: center;
}

.navbar-text {
   position: relative;
   text-decoration: none;
   color: inherit;
   font-family: "Montserrat";
   font-size: 1.8rem;
   letter-spacing: 10%;
}

.navbar-text::after {
   content: "";
   position: absolute;
   bottom: -0.7rem;
   width: 100%;
   left: 0;
   height: 0.2rem;
   background-color: #ebe6ce;
   transform: scaleX(0);
   transform-origin: left;
   transition: 0.3s ease;
}

.navbar-text:hover::after {
   transform: scaleX(1);
}

.navbar-profile {
   display: flex;
}

/**************************/
/*        FOOTER          */
/**************************/
.footer {
   padding: 9.6rem 0;
   background-color: #47453e;
   color: #ebe6ce;
}

.logo-col {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
}

.footer-logo {
   display: block;
   margin-bottom: 3.2rem;
}

.footer-icons {
   display: flex;
   gap: 2.4rem;
}

.lux-logo-footer {
   height: 5rem;
}

.footer-icon {
   height: 2.4rem;
   width: 2.4rem;
   color: #ebe6ce;
}

.footer-icon:hover {
   height: 2.4rem;
   width: 2.4rem;
   color: #8d8a7c;
}

.copyright {
   font-size: 1.4rem;
   margin-top: auto;
}

.footer-heading {
   font-size: 2.4rem;
   margin-bottom: 4rem;
}

.contacts p a:link,
.contacts p a:visited {
   text-decoration: none;
   color: #ebe6ce;
}

.contacts p a:hover,
.contacts p a:active {
   text-decoration: none;
   color: #8d8a7c;
}

.footer-links,
.contacts {
   font-size: 1.4rem;
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
   list-style: none;
}

.footer-link:link,
.footer-link:visited {
   text-decoration: none;
   color: #ebe6ce;
}

.footer-link:hover,
.footer-link:active {
   text-decoration: none;
   color: #8d8a7c;
}
