<nav id="navbar">
    <div class="navbar-logo-title">
    <a href="index.html">
        <img id="logo" src="images/logo.png" alt="LuxGarage Logo" />
    </a>
    <a href="index.html" id="logo-title">LuxGarage</a>
    </div>

    <div class="navbar-links">
    <a href="cars.html" id="cars-nav" class="navbar-text">Cars</a>
    <a href="#TestimonialPage" id="why-us-nav" class="navbar-text"
        >Why Us</a
    >
    <a href="" id="vouchers-nav" class="navbar-text">Vouchers</a>
    </div>

    <div class="navbar-profile">
    <a href="login.html" id="account-nav" class="navbar-image">
        <img
            src="images/profile.png"
            alt="Profile image. Click to see your log in status."
        />
    </a>
    </div>
</nav>