<nav id="navbar">
    <div class="navbar-logo-title">
    <a href="index.html">
        <img id="logo" src="images/logo.png" alt="LuxGarage Logo" />
    </a>
    <a href="index.html" id="logo-title">LuxGarage</a>
    </div>

    <div class="navbar-links">
    <a href="cars.html" id="cars-nav" class="navbar-text">Cars</a>
    <a href="index.html#TestimonialPage" id="why-us-nav" class="navbar-text"
        >Why Us</a
    >
    </div>

    <div class="navbar-profile-menu" id="menuWrapper">
        <button class="user-icon-btn" id="userIconBtn" aria-haspopup="true" aria-expanded="false">
            <img src="images/profile.png" alt="User account" class="user-icon"/>
        </button>
        <ul class="dropdown-menu" id="userDropdown" role="menu">
            <!--JS script--> 
        </ul>
    </div>
</nav>